<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Color-scheme-generator</title>
    <link rel="stylesheet" href="color-schemes.css">
    <script src="color-scheme.js" defer></script>
</head>

<body>
    <main class="wrapper flex">
        <div class="color-scheme">
            <div class="colors flex colors-primary" id="clrs-primary">
               
            </div>
            <div class="colors flex colors-accent" id="clrs-accent">
                
            </div>
            <div class="colors flex colors-neutral" id="clrs-neutral">
               
            </div>

        </div>
    </main>

</body>

</html>