@font-face {
    font-family: karla;
    src: url(./assets/fonts/Karla-VariableFont_wght.ttf);
}

:root {





    --clr-green-200: hsl(148, 38%, 91%);
    --clr-green-600: hsl(169, 82%, 27%);
    --clr-red: hsl(0, 66%, 54%);



    --clr-white: hsl(0, 0%, 100%);
    --clr-grey-500: hsl(186, 15%, 59%);
    --clr-grey-900: hsl(187, 24%, 22%);

    --fs-heading: 2rem;
    --fs-body-s: 1rem;
    --fs-body-m: 1.125rem;

    --pad-in: 1.5rem;
    --pad-bl: 1.5rem;
    --big-gap: 2.5rem;
    --medium-gap: 2rem;
    --smaller-gap: 1.5rem;
    --small-gap: 1rem;
    --tiny-gap: .75rem;

    --body-lh: 1.5;
    --heading-lh: 1;



}


/* resets & boilerplates */

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font: inherit;

    /* outline: solid 2px rgb(200 10 50 / .2); */
}

img,
iframe,
video {
    max-width: 100%;

    display: block;
}



html {
    height: 100svh;
}

html,
body {


    min-height: 100svh;

}

/* h1, h2, h3, h4, h5, h6 {
    text-wrap-style: balance;
} */

/* p {
    max-inline-size: 75ch;
    text-wrap-style: pretty;
    line-height: 1.6;
} */

/* overall layouts */

body {
    font-family: karla, sans-serif;
    font-weight: 400;
    font-size: var(--fs-body-s);
    background-color: var(--clr-green-200);
    color: var(--clr-grey-900);
}




.flex {
    display: flex;
}

.grid {
    display: grid;
}

.wrapper {


    min-height: 100svh;
    display: grid;
    place-items: center;



}

.contactform {
    position: relative;
    margin-top: var(--big-gap);
    background-color: var(--clr-white);
    padding: var(--pad-bl) var(--pad-in);
    column-gap: var(--big-gap);
    line-height: var(--body-lh);

    border-radius: 1rem;

    .__main {
        gap: var(--medium-gap);

    }

    .__label {
        display: block;
    }

    .__heading {
        font-size: var(--fs-heading);
        line-height: var(--heading-lh);
    }

    .__inputs {
        gap: var(--smaller-gap);
    }

    .__input {
        cursor: pointer;


        &:hover {
            outline: 1px solid var(--clr-green-600);
        }

        &:focus,
        &:focus-within,
        &:focus-visible,
        &:active {
            outline: 2px solid var(--clr-green-600);
            background-color: var(--clr-green-200);

        }


    }

    .__roundedinput {
        border: 1px solid var(--clr-grey-500);
        border-radius: .5rem;
        padding: .75rem 1.5rem;
    }

    .__required:after {
        content: "*";
        color: var(--clr-green-600);
        padding-left: .5em;
    }

    .__txtlabel {
        display: grid;
        gap: var(--tiny-gap);

        grid-template-rows: auto auto 1.5rem;

    }

    .__radioset {
        border: none;
        
        gap: var(--small-gap);


    }

    .__radiolabel {
        position: relative;
        display: flex;
        gap: var(--small-gap);

        cursor: pointer;

        &:hover {
            outline: 1px solid var(--clr-green-600);
        }

        .__checkmark {
            position: absolute;
            top: 50%;
            left: var(--small-gap);
            translate: 0 -50%;

            display: grid;
            place-items: center;

            aspect-ratio: 1;
            border-radius: 50%;
            height: 40%;
            border: 1px solid var(--clr-grey-500);
        }

        &:has(.__radio:focus, .__radio:focus-within, .__radio:focus-visible) {
            outline: 2px solid var(--clr-green-600);
            background-color: var(--clr-green-200);

        }

        &:has(> .__radio:checked) .__checkmark {
            border: 1px solid var(--clr-green-600);

            &::after {
                content: "";
                height: 70%;
                border-radius: 50%;
                aspect-ratio: 1;
                background-color: var(--clr-green-600);
            }
        }



        .__radio {
            opacity: 0;

        }







    }

    .__txtbx {
        height: 8lh;

        &:hover {
            outline: 1px solid var(--clr-green-600);
        }

        &:focus,
        &:focus-within,
        &:focus-visible,
        &:active {
            outline: 2px solid var(--clr-green-600);
            background-color: var(--clr-green-200);

        }
    }

    .__checkboxlabel {
        position: relative;

        cursor: pointer;

        .__checkbox {
            opacity: 0;


        }

        .__checkmark {
            position: absolute;
            top: 50%;
            left: 0;
            translate: -.25rem -50%;

            display: grid;
            place-items: center;

            aspect-ratio: 1;
            height: 80%;

            border-radius: .2rem;
            border: 1px solid var(--clr-grey-500);
        }



        &:has(.__checkbox:checked) .__checkmark {
            border: 1px solid var(--clr-green-600);

            &::after {
                content: "";
                height: 70%;

                border-radius: .2rem;
                aspect-ratio: 1;
                background-color: var(--clr-green-600);
            }
        }

        &:has(.__checkbox:focus, .__checkbox:active, .__checkbox:focus-within) .__checkmark {
            outline: 2px solid var(--clr-green-600);
            background-color: var(--clr-green-200);
        }
    }

    .__submit input {
        display: block;
        background-color: var(--clr-green-600);
        color: var(--clr-white);
        font-weight: 700;

        outline: none;
        border: none;
        border-radius: 1rem;
        width: 100%;

        padding: .75rem 1.5rem;

        cursor: pointer;

        &:hover {
            background-color: color-mix(in oklab, var(--clr-green-600) 50%, #000 50%);
        }
    }

}

.__success {


    position: absolute;
    left: 50%;
    top: calc(-1 * var(--small-gap));
    translate: -50%;

    background-color: color-mix(in oklab, var(--clr-green-600) 50%, #000 50%);
    color: var(--clr-white);
    box-shadow: 0 0 20px -3px #666;
    padding: var(--pad-bl) var(--pad-in);

    border-radius: 1rem;
    width: 90%;

    h2 {
        gap: var(--small-gap);
        font-size: var(--fs-body-m);
        font-weight: 700;
        margin-block-end: var(--small-gap);
    }


    transform: scaleY(0);
    opacity: 0;
    transform-origin: top;

    transition: transform 600ms,
    opacity 400ms 200ms;

    &.__valid {

        transform: scaleY(1);
        opacity: 1;
        transform-origin: top;

        transition: transform 400ms 200ms, opacity 600ms;
    }
}


.__error,
.__missing {
    display: none;
    color: var(--clr-red);
}

.__invalid:not(:is(.__radioset)),
.__invalid-missing:not(:is(.__radioset)) {
    outline: 1px solid var(--clr-red);
}

.__invalid ~ .__checkmark,
.__invalid-missing ~ .__checkmark {
    border: 1px solid var(--clr-red);
}

.__invalid-missing~.__missing,
.__invalid-missing>.__missing,
.__invalid-missing~div .__missing,
.__invalid-missing>div .__missing {
    display: block;
}

.__invalid~.__error,
.__invalid>.__error,
.__invalid~div .__error,
.__invalid>div .__error {
    display: block;
}

.__consent:has(.__invalid-missing) .__missing {
    display:block;
}

.sucestest {
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (width > 40rem) {
    :root {

        --pad-in: 2.5rem;
        --pad-bl: 2.5rem;

    }

    .contactform {

        width: min(90svw, 43.125rem);

        .__main {



            row-gap: var(--medium-gap);

            .__inputs,
            .__email,
            .__radios,
            .__form,
            .__message,
            .__consent,
            .__submit {
                grid-column: span 2;
            }
        }

        .__radioset {
            grid-template-columns: 1fr 1fr;
        }

        .__success {
            width: max-content;
        }
    }

    @media screen and (width > 72rem) {
        .contactform {
            width: clamp(43.125rem, 51svw, 60rem);

            
        }
    }

}